<div class="m-4">
  <div class="text-4xl m-8 w-full text-center">About Me</div>
  <div class="flex">
    <div class="m-8 w-[56rem]">
      <img src="/assets/images/about/me.jpg" />
    </div>
    <div class="">
      <p>
        My name is Max. I'm a college student in Computer Science and Computational Mathematices and will soon begin my 
        master's degree at Utah State University.
        I am currently the web developer and Chief IT Necromancer at Badger Screen Printing in Logan UT, and I also work
        for the Direct Lab as an undergraduate researcher at USU.
      </p>

      <p>
        In my free time, I love playing guitar with my band, rock climbing, and programming even more. I have finally
        managed to develop the discipline to focus on finishing projects rather than starting more. Hoping that leads to 
        more better programming.
      </p>

      <div class="text-xl my-2 mt-6 font-bold">Current Projects:</div>
      <ul>
        <li>Godot Video Game</li>
        <li>This Blog</li>
        <li>Rust Operating System</li>
      </ul>

      <div class="text-xl my-2 font-bold">Currently Reading:</div>
      <ul>
        <li>The Wealth of Nations by Adam Smith</li>
        <li>The Rust Programming Language by Steve Klabnik and Carol Nichols</li>
        <li>Arpeggio and Scale Resources by Rich Cochrane</li>
      </ul>

      <p class="my-6">If you are wondering why my blog covers so many different topics feel free to read my first article: 
        <a href="/post/0">Why am I Writing a Blog?</a>
      </p>

    </div>
</div>
