<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/assets/main.css" rel="stylesheet" />
    <link href="/assets/syntax_highlighting/prism.css" rel="stylesheet" />
    <link href="/assets/Chakra_Petch/ChakraPetch.css" rel="stylesheet" />
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/htmx.min.js"></script>

    {% block head %}{% endblock %}
  </head>
  <body hx-boost="true">
    <div 
      class="bg-green-800 min-h-screen h-full flex justify-center"
    >
      <div
        class="max-w-screen-lg w-full bg-neutral-800 m-4 text-white"
      >
        <div class="text-6xl text-center my-4">Buckets of Salt</div>
        <div class="flex justify-around w-full">
          <div
            class="hover:cursor-pointer text-sm text-nowrap p-2 font-bold border-2 border-neutral-700 hover:border-neutral-600"
            hx-get="/posts"
            hx-target="#content"
            hx-push-url="true"
          >Posts</div>
          <div
            class="hover:cursor-pointer text-sm text-nowrap p-2 font-bold border-2 border-neutral-700 hover:border-neutral-600"
            hx-get="/projects"
            hx-target="#content"
            hx-push-url="true"
          >Projects</div>
          <div
            class="hover:cursor-pointer text-sm text-nowrap p-2 font-bold border-2 border-neutral-700 hover:border-neutral-600"
            hx-get="/about"
            hx-target="#content"
            hx-push-url="true"
          >About</div>
        </div>
        <div id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="/assets/syntax_highlighting/prism.js"></script>
    <script> document.body.addEventListener('htmx:afterOnLoad', function() { Prism.highlightAll(); }); </script>
  </body>
</html>
