{% for project in projects %}
<div 
  class="m-2 p-2 shadow-md hover:cursor-pointer"
  hx-get="/project/{{project.id}}"
  hx-target="#content"
  hx-push-url="true"
>
  <div class="text-2xl">{{project.title}}</div>
  <div class="flex flex-row">
    {% if project.thumbnail.is_some() %}
    <img 
      class="object-cover h-24 aspect-square m-4"
      src="{{project.thumbnail.as_ref().unwrap()}}"
    ></img>
    {% endif %}
    <div class="m-2 ml-4">
      <span>
        Source Code: 
        <a
          href="{{ project.github_link }}"
          class="hover:underline"
        >{{ project.github_link }}</a>
      </span>
      <div>{{ project.content|truncate(200) }}</div>
    </div>
  </div>
</div>
{% endfor %}
